
<div class="container">
      <div class="grid text-center">
        <div class="grid-card main-content">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/nephisto1954", class: "img-circle" %>
          <h2>Tanguy Chennaux</h2>
          <p>FullStack Programmer</p>
          <a href="#" class="btn btn-primary btn-lg">Get in touch</a>
        </div>
        <div class="stat grid-card contributions">
          <div class="stat-content">
            <h3>0</h3>
            <p>contributions</p>
          </div>
        </div>
        <div class="stat grid-card followers">
          <div class="stat-content">
            <h3>0</h3>
            <p>followers</p>
          </div>
        </div>
      <div class="stat grid-card repositories">
        <div class="stat-content">
          <h3>3</h3>
          <p>repositories</p>
        </div>
      </div>
      <div class="description grid-card">
        <div class="description-content">
          <h3>More about Tanguy</h3>
          <p class="text-justify">
            I am a full-stack developer with 4 weeks of practice. Love Front-end development and have a passion for ski/snowboard and scuba diving.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
